Package: me.kevinrpb.ktheme
Name: ktheme
Version: 0.1.5
Architecture: iphoneos-arm
Description: My theme
Maintainer: kevinrpb
Depiction: https://cydia.kevinrpb.me/depictions/?p=me.kevinrpb.ktheme
Author: kevinrpb 
Sponsor: none
Section: Themes
Depends: com.anemonetheming.anemone
